<h1 class= "text-center mt-4"><%= @user.username %>'s Profile</h1>

<%= gravatar_for @user, size: 200 %>

<div class="text-center mt-4">
	<% if logged_in? %> 
		<% if @user == current_user %>
			<%= link_to "Edit Account", edit_user_path(@user), class: "btn btn-outline-info" %>
			<%= link_to "Delete Account", user_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete your account and all its associated articles?" }, class: "btn btn-outline-danger" %>
		<% end %>
		<% if current_user.admin? %>
			<% if @user != current_user %>
  			<%= link_to 'Delete User', user_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete this account and all its associated articles?" }, class: "btn btn-outline-danger" %>
  		<% end %>
  	<% end %>
	<% end %>
</div>

<h3 class= "text-center mt-4">Articles</h3>

<div class="flickr_pagination pagination-wrapper mt-3">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles/article' %>

<div class="flickr_pagination pagination-wrapper mb-3">
  <%= will_paginate @articles, :container => false %>
</div>
